<!-- templates/mood_carousel.html -->
<div class="carousel-wrapper">
  <div class="carousel-3d">
    <a href="/mood?mood=Happy" class="mood-card happy"><span>😊 Happy</span></a>
    <a href="/mood?mood=Romantic" class="mood-card romantic"
      ><span>❤️ Romantic</span></a
    >
    <a href="/mood?mood=Thrilling" class="mood-card thrilling"
      ><span>😲 Thrilling</span></a
    >
    <a href="/mood?mood=Sad" class="mood-card sad"><span>😢 Sad</span></a>
    <a href="/mood?mood=Intense" class="mood-card intense"
      ><span>🔥 Intense</span></a
    >
    <a href="/mood?mood=Tired" class="mood-card tired"><span>😴 Tired</span></a>
  </div>
</div>
